@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form method="post">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bonjour " + User.Identity.GetUserName(), "Index", "home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "register", "auth", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "lgoin", "auth", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
